@import url(css/reset.css);
@import url(fonts/norse/stylesheet.css);

#main-container {
	background-color: white;
	display: flex;
}

.img-container, .form-container {
	flex: 1;
}

/* Left Side */
.img-container {
	max-width: 700px;
	height: 100vh;
	background-image: url(img/form-image.avif);
}

.img-container > img {
	height: 100%;
}

#credit {
	color: white;
	text-align: center;
	position: absolute;
	top: 95vh;
	display: block;
	text-align: center;
	width: 700px;
}

#credit > a {
	color: white;
	text-decoration: underline;
}

.img-container > div {
	position: relative;
	top: 300px;
	width: 100%;
	height: 150px;
	padding: 10px 0px;
	background-color: #00000054;
	display: flex;
	justify-content: center;
	align-items: center;
}

#odin-logo {
	height: 100%;
}

.img-container > div > p {
	font-family: "Norse", sans-serif;
	font-weight: bold;
	font-size: 100px;
	color: white;
}

/* Right Side */

h1 {
	font-size: 25px;
}

.form-container {
	background-color: #f9fafb;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-between;
}

fieldset {
	height: 300px;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

button[type="submit"] {
	background-color: #596D48;
	padding: 10px 30px;
	border-radius: 10px;
	color: white;
	font-weight: bold;
}