@import url(css/reset.css);
@import url(fonts/norse/stylesheet.css);


/* Containers */ 

#main-container {
	background-color: white;
	/* Layout inside */
	display: flex;
}

.img-container {
	flex: 3;
	height: 100vh;
	background-image: url(img/form-image.avif);
	/* Layout inside*/
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 50vh;
}

.form-container {
	background-color: white;
	padding: 50px;
	flex: 5;
	/* Layout inside */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Left Side Elements */

#credit {
	color: white;
	text-align: center;
	position: relative;
	bottom: 20px;
}

#credit > a {
	color: white;
	text-decoration: underline;
}

.img-container > div {
	width: 100%;
	height: 180px;
	padding: 10px 0px;
	background-color: #00000054;
	display: flex;
	justify-content: center;
	align-items: center;
}

#odin-logo {
	height: 100%;
}

#odin-word {
	font-family: "Norse", sans-serif;
	font-size: 100px;
	font-weight: bold;
	color: white;
}

/* Right Side Elements */

.form-header {
	flex: 1;
	/* Layout inside */
	display: flex;
	flex-direction: column;
	gap: 30px;
}

h1 {
	font-size: 25px;
}

fieldset {
	height: 300px;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

button[type="submit"] {
	background-color: #596D48;
	padding: 10px 30px;
	border-radius: 10px;
	color: white;
	font-weight: bold;
}